* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  background-color: #fff8f0;
  background-image: url(./../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
select {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.home {
  font-size: 1.4rem;
}

.flexbox {
  display: flex;
}

.flexbox-column {
  display: flex;
  flex-direction: column;
}

.nav-left {
  gap: 4rem;
}

.nav-right {
  gap: 1rem;
}

ul {
  list-style: none;
  gap: 1rem;
  margin-top: 1rem;
}

ul select {
  border: none;
  outline: none;
  background-color: #019bbf;
  font-size: 1.2rem;
}

ul i {
  font-size: 1.2rem;
}

ul a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.sign-in {
  padding: 0.6rem;
  background-color: #ff666f;
  border-radius: 10%;
  color: white;
}

nav {
  justify-content: space-between;
  margin-top: 1rem;
  width: 80vw;
  transform: translateX(12%);
  height: 4rem;
  display: block;
}

.icon i {
  color: white;
  background-color: #ff666f;
  padding: 0.4rem;
  border-radius: 50%;
  transform: rotate(-40deg);
  margin-top: 0.8rem;
}

/* ? SIDEBAR */

.btn {
  display: none;
  font-size: 2rem;
}

@media screen and (max-width: 900px) {
  .btn {
    display: block;
  }

  #navbar {
    display: none;
  }
}

.offcanvas-body {
  margin-left: 5rem;
  font-size: 1.6rem;
}

.offcanvas-header .mobile-home,
.mobile-i {
  font-size: 2.5rem;
}

.offcanvas-body select {
  font-size: 1.6rem;
}

/* ? MAIN */

.main-title {
  margin: auto;
  width: 70%;
  text-align: center;
  transform: translateY(5rem);
}

h1 {
  font-size: 4rem;
  font-family: "Playfair Display", serif;
}

.search-bar {
  transform: translateY(5rem);
  margin: auto;
  width: 75%;
  background-color: rgb(255, 255, 255);
  height: 38rem;
  margin-top: 3rem;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media screen and (max-width: 1000px) {
  .search-forms {
    flex-direction: column;

    align-items: center;
  }
}

@media screen and (min-width: 1000px) {
  .search-bar {
    height: 12rem;
  }
}

.nav-item:active {
  font-weight: bolder;
}

.search-forms {
  margin-top: 2rem;
  gap: 3rem;
}

.search-form-element {
  width: 20rem;
}

.search-form-element input {
  border: none;
  outline: none;
}

.search-forms .fa-solid {
  font-size: 2rem;
  margin-top: 1rem;
  margin-right: 1.1rem;
  color: rgb(238, 198, 161);
}

.search-bar a {
  color: black;
  font-weight: bolder;
}

/* ! DATE PICKER */

[type="date"] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

label {
  display: block;
}

input {
  border: 0.5px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.search {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 1px;
}

.search:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0.5px 0.5px 1px;
}

.card {
  transform: translateY(5rem);
  margin: auto;
  width: 50%;
  background-color: rgb(255, 255, 255);
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-top {
  text-align: center;
}

.card-top p {
  font-size: 2.5rem;
  font-weight: 100;
}

.card-info {
  background-color: transparent;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}

.card-info div {
  font-size: 1.6rem;

  padding: 0.5rem;
  border-radius: 10%;
  opacity: 0.9;
  margin-left: 0.5rem;
}

.card-bottom {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.rating {
  font-size: 2rem;
  background-color: rgb(224, 236, 247);
  padding: 0.5rem;
  border-radius: 50%;
  opacity: 0.9;
  transform: translateX(-5rem);
}

.to {
  font-size: 1.7rem;
  background-color: rgb(224, 236, 247);
  padding: 0.5rem;
  border-radius: 10%;
  opacity: 0.9;
}

.address {
  font-size: 1.7rem;
  background-color: rgb(224, 236, 247);
  padding: 0.5rem;
  border-radius: 5%;
  opacity: 0.9;
  margin-right: 2.5rem;
}

.web-address {
  font-size: 1.7rem;
  background-color: rgb(224, 236, 247);
  padding: 0.5rem;
  border-radius: 5%;
  opacity: 0.9;
  margin-top: 0.8rem;
}

.price {
  font-size: 2rem;
  background-color: rgb(224, 236, 247);
  padding: 0.5rem;
  border-radius: 50%;
  opacity: 0.9;
  margin-right: 1.5rem;
}

.price-flight {
  font-size: 2rem;
  background-color: rgb(224, 236, 247);
  padding: 0.5rem;
  border-radius: 40%;
  opacity: 0.9;
  margin-right: 1.5rem;
}

.card-bottom img {
  width: 7rem;
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 800px) {
  .card-info {
    display: none;
  }

  .card-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rating {
    transform: translateX(-1rem);
  }
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 7px;
  }
}

#checkoutContainer {
  display: flex;
}

#destinationContainer {
  display: flex;
  display: none;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.loader {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgb(77, 77, 243);
  border-right: 16px solid rgb(64, 167, 64);
  border-bottom: 16px solid rgb(231, 84, 84);
  border-left: 16px solid pink;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  z-index: 2;
  margin-top: 7rem;
  visibility: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
